# Byte-compiled / cache files
**/__pycache__/
*.py[cod]
*$py.class
**.pyc

# Virtual environments and env files
.venv/
env/
venv/
**/.venv*/
.env

# Distribution / packaging / Cmake / build config 
build/
dist/
*.egg-info/
*CMakeUserPresets.json
*CMakeLists.txt.user
*ProjectUserConfig.json

# VS Code settings
.vscode/

# other folders
/extra/knowledge

